<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
	<style>
		.jumbotron {
			width: 600px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
			padding: 20px;
		}
		.table {
			margin-top: 20px;
		}
		.form-control{
			margin-bottom: 5px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito{
			font-weight: bold;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-locale_pt-br.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script>
		//Assim cria um módulo 
		angular.module("listaTelefonica", ["ngMessages"]); 
		//Assim localiza um módulo e cria uma controller
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope){ // se tiver problemas de performance desconfie sempre dos filtros
			$scope.app = "Lista Telefonica";

			// definindo um array de objetos.
			$scope.contatos = [
				{nome: "Pedro", telefone: "99998888", cor: "blue", data: new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}},
				{nome: "Ana", telefone: "99998877", cor: "yellow", data: new Date(), operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}},
				{nome: "Maria", telefone: "99998866", cor: "red", data: new Date(), operadora: {nome: "Tim", codigo: 41, categoria: "Celular"}}
			];
			$scope.operadoras = [
				{nome:"Oi", codigo:14, categoria:"Celular", preco: 2},
				{nome:"Vivo", codigo:15, categoria:"Celular", preco: 1},
				{nome:"Tim", codigo:41, categoria:"Celular", preco: 3 },
				{nome:"GVT", codigo:25, categoria:"Fixo", preco: 1},
				{nome:"Embratel", codigo:21, categoria:"Fixo", preco: 2}
			];
			$scope.adicionarContato = function(contato){
				var contatoCopy = angular.copy(contato) // é preciso fazer uma cópia, pois se não o angular ficaria utilizando a mesma referência sempre.
				$scope.contatos.push(contatoCopy);
				delete $scope.contato; // apaga a referência que não será utilizada.
				$scope.contatoForm.$setPristine();  // retorna o contatoForm ao estado pristine.
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function (contato) {
					if (!contato.selecionado) { // retorna somente os não selecionados
						return	contato;
					}					
				});				
			};
			$scope.isContatosSelecionado = function (contatos) {
				return contatos.some(function (contato){ // se existir um registro selecionado no array retorna true.
					return	contato.selecionado;
				});				
			};
			$scope.ordernarPor = function (campo){
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao; // a primeira vez o valor é undefinied que o angular transforma para false automaticamente.
			};			
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<!-- Estas são as duas formas de apresentar o valor de "$scope.app",  -->
		<!-- ng-bind pega uma coisa (pode ser qualquer coisa) do $scope e exibe. 
		<!-- <h3 ng-bind="app"></h3> -->
		<h3> {{app}} </h3> <!-- Interpolação da expressão, é a sintaxe recomendada por Rodrigo Branas-->
		<input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que você está buscando"></input>	
		<table class="table table-striped" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th>
					<a href="" ng-click="ordernarPor('nome')">Nome</a>
				</th>
				<th>
					<a href="" ng-click="ordernarPor('telefone')">Telefone</a>
				</th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao"> <!-- o true é descendente e false é ascendente-->
				<!-- duas formas de percorrer e imprimir os valores: por expressão, ou percorrer o objeto "contato" utilizando "(key, value)"-->
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome | uppercase}}</td> <!-- "| uppercase" significa um filtro de letras maiúsculas.--> 
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date: 'dd/MM/yyyy HH:mm'}}</td>
				<!-- <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td> -->				
			</tr>
			<!-- outra row que percorre o objeto "contato" dentro do array e imprime apenas o "value" omitindo o a "key" -- >
			<!-- <tr ng-repeat="contato in contatos">
				<td ng-repeat="(key,value) in contato">
					{{value}}
				</td>	
			</tr> -->						
		</table>
		<hr/>
		<!-- ng-model pega uma coisa da view e define no $scope, é muito utilizado nos inputs, select e textareas-->		
		<form name="contatoForm">	
			<input type="text" class="form-control" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minLength="10" />
			<input type="text" class="form-control" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
			<!-- o próprio Angular está criando um objeto contato quando foi definido em ng-model="contato.algumacoisa" -->
			{{contato}}	
			<!-- ngOptions renderiza as opções de um select -->
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' ( ' + (operadora.preco | currency) + ' ) ' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		<div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$dirty" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o nome!
			</div>
			<div ng-message="minlength">
				O campo nome deve ter no mínimo 10 caracteres!
			</div>
		</div>

		
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty">
			Por favor, preencha o telefone!
		</div>
		<div class="alert alert-danger" ng-show="contatoForm.telefone.$error.pattern">
			O campo telefone deve ter o formato DDDDD-DDDD
		</div>
		<!-- ngClick atribui um comportamento ao evento-->
		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-show="isContatosSelecionado(contatos)">Apagar Contato</button>		
	</div>
	<!-- <div ng-include="'footer.html'"></div> --> <!-- precisa das aspas simples pois caso contrário ele iria procurar a variável footer.html no $scope (não funciona no crome utilizando o protocolo file)-->
</body>
</html>